@use 'fonts';
@use 'variables';

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--gray-600);
}

.root {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 40vw;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
  aspect-ratio: 1 / 1;
}

.todos {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.items {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 16px;
}

.item {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--gray-400);

  &__text {
    color: var(--gray-100);
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color ease-out 0.2s;

    &--completed {
      color: var(--gray-300);
      text-decoration: line-through;
    }
  }
}
